@import '../../variables.scss';

.menu {
  position: fixed;
  left: 0;
  top: 0;
  background-color: $c-primary;
  height: 80px;
  width: 100%;
}

.logo {
  position: absolute;
  left: 1%;
  top: 20%;
  height: 60%;

}
