.layout {
  display: none;
}

.street {
  font-family: 'Quicksand';
  font-size: 13px;
  font-weight: bold;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}


.chair {
  fill: #FFFFFF;
  stroke: #000000;
  stroke-width: 0.5;
  stroke-miterlimit: 10;
}

.room {
  fill: none;
  stroke: #000000;
  stroke-width: 0.35;
  stroke-miterlimit: 10;
}

.stair {
  fill: none;
  stroke: #000000;
  stroke-miterlimit: 10;
}

.clickable {
  opacity: 1;
}

.glassWalls {
  fill: none;
  stroke: #000;
  stroke-width: 3;
  stroke-linecap: square;
  stroke-miterlimit: 10;
}

.whiteGlassWalls {
  fill: none;
  stroke: #FFFFFF;
  stroke-width: 2;
  stroke-linecap: square;
  stroke-miterlimit: 10;
}

.blackInnerWalls {
  fill: none;
  stroke: #000000;
  stroke-width: 3;
  stroke-linecap: square;
  stroke-miterlimit: 10;
}


.blackThickerInnerWalls {
  fill: none;
  stroke: #000000;
  stroke-width: 5;
  stroke-linecap: square;
  stroke-miterlimit: 10;
}

.blackOuterWalls {
  fill: none;
  stroke: #000000;
  stroke-width: 8;
  stroke-miterlimit: 10;
}

.whiteInnerWalls {
  fill: none;
  stroke: #E6E6E6;
  stroke-width: 2;
  stroke-linecap: square;
  stroke-miterlimit: 10;
}


.whiteThickerInnerWalls {
  fill: none;
  stroke: #CCCCCC;
  stroke-width: 4;
  stroke-linecap: square;
  stroke-miterlimit: 10;
}

.whiteOuterWalls {
  fill: none;
  stroke: #CCCCCC;
  stroke-width: 6;
  stroke-miterlimit: 10;
}

.sectorWithoutCard {
  opacity: 0.1;
}

.shadow {
  opacity: 0.3;
  fill: #232e38;

  &:hover {
    opacity: 0.6;
  }
}

.column {
  fill: #CCCCCC;
  stroke: #000000;
  stroke-miterlimit: 10;
}



svg {
  background-color: #f0f0f0
}
