.mat-background {
  background-color: blue;
}

.example-icon {
  padding: 0 14px;
}
.textColor{
  color: white;
}
.buttonPosition{
  height: 30px;
  width: 2250px;
  flex: 1 1 auto;
}
.detailWindow{
  color: black;
  height: 500px;
  width: 2250px;
  flex: 1 1 auto;
}

