.mat-background {
  background-color: blue;
}

.textColor{
  color: white;
}
.button-position{
  height: auto;
  width: 100%;
  flex: 1 1 auto;
}
.detail-window{
  height: auto;
  width: 100%;
  flex: 1 1 auto;
}

