.clickableKitchenClass {
  opacity: 0;
  fill: #0071BC;
}

.clickableKitchenClass:hover {
  opacity: 0.6;
}

.clickablePrinterClass {
  opacity: 0;
  fill: grey;
}

.clickablePrinterClass:hover {
  opacity: 0.6;
}

.receptionClass {
  opacity: 0;
  fill: #5F8881;
}

.receptionClass:hover {
  opacity: 0.6;
}
