<svg>
  <g id="clickable-kitchens" class="clickableClass">
    <path id="kitchen1" class="clickableKitchenClass" d="M575,333h41v76h-41C575,409,575,331.3,575,333z" />
    <polyline id="kitchen2" class="clickableKitchenClass" points="261,409 353,409 353,511 261,516 261,409 	" />
    <polygon id="kitchen3" class="clickableKitchenClass" points="284,1039 354,1039 354,1194 295,1194 	" />
    <polygon id="kitchen4" class="clickableKitchenClass" points="558,1112 558,1194 745,1194 745,1113 	" />
    <rect id="kitchen5" x="1953" y="725" class="clickableKitchenClass" width="59" height="161" />
    <rect id="kitchen6" x="1561" y="1005" class="clickableKitchenClass" width="132" height="190" />
  </g>

  <g id="clickable-printers" class="clickableClass">
    <polyline id="printer1" class="clickablePrinterClass" points="483,178 519,178 519,217 483,217 	" />
    <rect id="printer2" x="267" y="580" class="clickablePrinterClass" width="35" height="36" />
    <rect id="printer3" x="519.5" y="1149" class="clickablePrinterClass" width="35" height="36" />
    <rect id="printer4" x="1013.5" y="1137" class="clickablePrinterClass" width="35" height="36" />
    <rect id="printer5" x="1955" y="689" class="clickablePrinterClass" width="33" height="35" />
    <rect id="printer6" x="1624" y="612" class="clickablePrinterClass" width="35" height="38" />
    <rect id="printer7" x="1704" y="228" class="clickablePrinterClass" width="35" height="38" />
  </g>

  <g id="reception">
    <polygon id="reception1" class="receptionClass" points="1503,802 1503,917 1608,917 1608,802  " />
  </g> <!-- Recepcja -->
</svg>
