<button mat-button [matMenuTriggerFor]="menu">Menu</button>
<mat-menu #menu="matMenu">
  <button (click)="onClick($event)" id="button_wc" mat-menu-item>WC</button>
  <button (click)="onClick($event)" id="button_room" mat-menu-item>SALE</button>
  <button (click)="onClick($event)" id="button_clickable-printer" mat-menu-item>DRUKARKA</button>
  <button (click)="onClick($event)" id="button_elevator" mat-menu-item>WINDA</button>
  <button (click)="onClick($event)" id="button_reception" mat-menu-item>RECEPCJA</button>
</mat-menu>
