mat-card {
  max-width: 70%;
  margin: 5em auto;
  text-align: center;
  background-color: whitesmoke;
}
mat-form-field {
  width: 50%;
}
.alert {
  color: red;
  margin: 2em auto;

}
button {
  width: 30%;
  margin: 2em auto;
}
