.search {
  position: absolute;
  left: 25%;
  top: 20%;
  height: 60%;
  width: 40%;
  background-color: #eee;
  text-align: left;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: none;
  font-size: 18px;
  padding: 0;

  &:focus{
    outline: none;
  }
}

.search-list{
  border-radius: 5px;
  width: 40vw;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: auto;
  max-height: 40vh;
  overflow-y: scroll;
  background-color: #fff;
  position: absolute;
  top:80%;
  left: 25%;
  margin: 0;
}

.search-list-button{
  cursor: pointer;
  padding: 10px;
  list-style-type: none; 
  font-family: sans-serif;
  margin: 0;
  background-color: #eee;
}

.search-list-option{
  cursor: pointer;
  padding: 10px; 
  list-style-type: none; 
  font-family: sans-serif
}

.search-button {
  position: absolute;
  left: 65%;
  top: 20%;
  height: 60%;
  background-color: #ddd;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 5%;
  border-top-right-radius: 5%;
}

::ng-deep .mat-form-field-underline {
  display: none;
}


.option-button {
  width: 10%;
}

.mat-form-field.example-full-width {
  width: 100%
}

.search-input {
  width: 100%;
  margin-left: 5px;
}

input::-webkit-calendar-picker-indicator {
  display: none;
}

.hiden{
  display: none;
}