<input #searchPlace class="search"
list="dynmicUserIds" (keyup.enter)="onClickSearch(searchPlace.value);">

<datalist id="dynmicUserIds" class="search-list">
    <option *ngFor="let item of filteredOptions" [value]="item.text">{{item.text}}</option>
</datalist>  

<button mat-button class="search-button" (click)="onClickSearch(searchPlace.value);">
  <mat-icon>search</mat-icon>
</button>

<button mat-button class="select-button" (click)="onClickSelect();">
  <mat-icon>search</mat-icon>
</button>
