.clickableElevatorClass {
  opacity: 0;
  fill: #00BBBB;

}

.clickableElevatorClass:hover {
  opacity: 0.6;
}

.clickableWcClass {
  opacity: 0;
  fill: #FCEE21;
}

.clickableWcClass:hover {
  opacity: 0.6;
}

.firsAidKit {
  fill: red;
  opacity: 0;
}

.shining {
  fill: #CC0033;
  opacity: 0.6;
  opacity: 0;
}

.water {
  fill: blue;
  opacity: 0;
}

.coffee {
  opacity: 0;
}

.fireExtinguisher {
  fill: #d22;
  opacity: 0;
}

.wardrobe {
  fill: green;
  opacity: 0.6;
  opacity: 0;
}
